.container {
    display: grid;
    grid-template-rows: 1fr 1fr 100px 1fr;
    row-gap: 30px;
}

.Tip__section {
    display: flex;
    align-items: center;
}

.Tip__range-slider {
    width: 350px;
    min-width: 200px;
    position: relative;
    background: linear-gradient(to right, #aaa 2px, transparent 1px) repeat-x;
    background-position-x: 8px;
    background-position-y: 100%;
    background-size: 84px 5px;
    margin: 16px 0;
}

.Tip__range-slider::before {
    content: '0%';
    position: absolute;
    display: block;
    left: 0;
    bottom: -17px;
}

.Tip__range-slider::after {
    content: ' 20%';
    position: absolute;
    display: block;
    right: -7px;
    bottom: -17px;
}

.Tip__range-slider input {
    width: 100%;
}

.Tip__range-slider > input + output {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: -52px;
    background: transparent/*#ea59d7*/;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 10px;
    color: #000;
}

.Tip__range-slider > input + output {
    visibility: hidden;
}
.Tip__range-slider > input:hover + output {
    background: #ea59d7;
    color: #fff;
    visibility: visible;
}