.container {
    display: grid;
    grid-template-rows: 1fr 1fr 100px 1fr;
}

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
} */